<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://raw.githubusercontent.com/Toperlock/sing-box-subscribe/main/public/favicon.ico" type="image/x-icon">
    <title>生成sing-box配置</title>
    <style>
        body {
            display: flex;
            flex-direction: column; /* 垂直排列 */
            align-items: center; /* 水平居中对齐 */
            max-width: 100%; /* 调整内容最大宽度 */
            /* transform: scale(1.9);  将内容放大190% */
            justify-content: center;
            height: 100vh; /* 使内容在垂直方向上居中 */
            margin: 0; /* 去掉默认的页面边距 */
            font-family: Arial, sans-serif; /* 可选的字体 */
            background-color: #f2f2f2;
        }
        .container {
            display: flex;
            flex-direction: row; /* 水平排列 */
            align-items: center; /* 水平居中对齐 */
        }
        /*
        .left-box {
            flex: 1;
            padding: 10px;
        }
        */
        .right-box {
            flex: 2;
            padding: 20px;
            max-width: 100%; /* 设置最大宽度为100% */
            box-sizing: border-box; /* 让padding不影响最大宽度 */
        }
        /* 媒体查询：屏幕宽度小于768px时应用下面的样式 */
        @media screen and (max-width: 768px) {
            .container {
                flex-direction: column; /* 垂直排列 */
            }
            .right-box {
                width: 100%; /* 平分屏幕宽度 */
            }
            .config-content {
                white-space: normal; /* 在小屏幕下允许内容换行 */
                margin-left: 20px; /* 与左边隔开20px，根据需要调整距离 */
                margin-right: 20px; /* 与右边隔开20px，根据需要调整距离 */
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <!--
        <div class="left-box">
            <h1>Providers JSON 模板</h1>
            <form id="providers-form" method="POST" action="/update_providers">
                <textarea name="providers_data" rows="10" cols="40" style="width: 400px; height: 400px;">{{ providers_data | safe }}</textarea>
                <br>
            </form>
        </div>
        -->
        <div class="right-box">
            <h1>Edit TEMP_JSON_DATA</h1>
            <form id="temp-json-form" method="POST" action="/edit_temp_json">
                <textarea name="temp_json_data" rows="10" cols="40" style="width: 400px; height: 400px;">{{ temp_json_data | default('') }}</textarea>
                <br>
                <input type="submit" value="save">
            </form>
            <button onclick="toggleLanguage()">Switch Language</button>
            <div class="form-container" style="display: flex; align-items: center;">
                <form method="POST" action="/generate_config" style="display: flex; align-items: center;">
                    <select name="template_index">
                        {% for option in template_options %}
                        <option value="{{ loop.index - 1 }}">{{ option }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Select and Generate">
                </form>
            </div>
        </div>
        <div class="config-content">
            <h3 style="margin: 8px 0; font-size: 14px;"><a href="https://github.com/Toperlock/sing-box-subscribe#%E9%A1%B5%E9%9D%A2%E6%93%8D%E4%BD%9C%E6%AD%A5%E9%AA%A4" target="_blank" rel="noopener noreferrer">请务必：点击查看操作说明</a></h3>
            <h3 style="margin: 8px 0; font-size: 14px;"><a href="https://github.com/Toperlock/sing-box-subscribe/tree/main/instructions#steps-for-page-manipulation" target="_blank" rel="noopener noreferrer">Please be sure to: Click to view operation instructions.</a></h3>
            <h3 style="margin: 8px 0; font-size: 14px;"><a href="https://github.com/Toperlock/sing-box-subscribe#providersjson%E6%96%87%E4%BB%B6" target="_blank" rel="noopener noreferrer">请务必：点击查看参数含义</a></h3>
            <h3 style="margin: 8px 0; font-size: 14px;"><a href="https://github.com/Toperlock/sing-box-subscribe/tree/main/instructions#providersjson-file" target="_blank" rel="noopener noreferrer">Please be sure to: Click to view parameter meanings.</a></h3>
            <h3 style="margin: 8px 0; font-size: 14px;" data-translate="3" data-color="red"><span style="font-weight: bold; color: red; margin: 5px 0; font-size: 14px;">“groups_rule_set_tun.json”模板是给 sing-box 1.8.0+ 使用的。旧版sing-box请使用其他模板</span></h3>
            <h3 style="margin: 8px 0; font-size: 14px;" data-translate="4"><span style="font-weight: bold; color: black; margin: 5px 0; font-size: 14px;">填写订阅地址在引号 “” 内，注意订阅地址末尾不要有换行，这很容易被忽视！！！</span></h3>
            <h3 style="margin: 8px 0; font-size: 14px;" data-translate="5" data-color="red"><span style="font-weight: bold; color: red; margin: 5px 0; font-size: 14px;">提醒: 点击保存后请立即生成配置文件！！！</span></h3>
            <h3 style="margin: 8px 0; font-size: 14px;" data-translate="6"><span style="font-weight: bold; color: black; margin: 5px 0; font-size: 14px;">不然别人也会看到你保存的 TEMP_JSON_DATA 内容</span></h3>
            <h3 style="margin: 8px 0; font-size: 14px;" data-translate="7" data-color="red"><span style="font-weight: bold; color: red; margin: 5px 0; font-size: 14px;">“订阅地址”是以 "http://" 开头的【包含】节点信息的v2/clash链接或者是以 "vmess://","hysteria2://"... 之类开头的单条URI节点链接，多条URI请在每条末尾添加换行符：\n 代替换行（请你明白json写法规范），也可以填写base64内容</span></h3>
            <h3 style="margin: 8px 0; font-size: 14px;" data-translate="8"><span style="font-weight: bold; color: black; margin: 5px 0; font-size: 14px;">机场提供的订阅链接能直接在浏览器打开，这脚本就能使用。请你自行检查是否可以</span></h3>
            <h3 style="margin: 8px 0; font-size: 14px;" data-translate="9" data-color="red"><span style="font-weight: bold; color: red; margin: 5px 0; font-size: 14px;">需要特殊环境才能打开的订阅链接，请你在 TEMP_JSON_DATA 修改 "User-Agent" 或者先行把机场订阅链接内容复制到gist里，脚本才会解析成功。或者本地运行脚本</span></h3>
            <h3 style="margin: 8px 0; font-size: 14px;" data-translate="10"><span style="font-weight: bold; color: black; margin: 5px 0; font-size: 14px;">全部都是 SSR 协议会报错，或者请删掉左边方框内 exclude_protocol 引号里面的 ssr 这个三个字符即可</span></h3>
            <h3 style="margin: 8px 0; font-size: 14px;" data-translate="11" data-color="red"><span style="font-weight: bold; color: red; margin: 5px 0; font-size: 14px;">机场订阅里有hy2新协议，请修改 "User-Agent" 为：clashmeta</span></h3>
            <h3 style="margin: 8px 0; font-size: 14px;" data-translate="12"><span style="font-weight: bold; color: black; margin: 5px 0; font-size: 14px;">以上不是废话，没成功生成配置请你仔细阅读以上内容</span></h3>
            <h3 style="margin: 8px 0; font-size: 14px;" data-translate="13" data-color="red"><span style="font-weight: bold; color: red; margin: 5px 0; font-size: 14px;">因为没用数据库，不会返回配置文件链接。生成配置内容后复制到gist里当作 sing-box remote 链接</span></h3>
            <h3 style="margin: 8px 0; font-size: 14px;" data-translate="14"><span style="font-weight: bold; color: black; margin: 5px 0; font-size: 14px;">生成配置成功后请不要用第三方输入法复制内容，会有长度限制复制不全</span></h3>
            <h3 style="margin: 8px 0; font-size: 14px;"><span style="font-weight: bold; color: red; margin: 5px 0; font-size: 14px;">Một số Link Tiếng Việt không hoạt động với script này, vui lòng chạy nó trên local</span></h3>
            <h3 style="margin: 8px 0; font-size: 14px;"><a href="https://github.com/Toperlock/sing-box-subscribe/blob/main/instructions/README.md#-demonstration-video" target="_blank" rel="noopener noreferrer">Video hoạt động</a></h3>
            <h3 style="margin: 8px 0; font-size: 14px;"><a href="https://github.com/Toperlock/sing-box-subscribe/issues" target="_blank" rel="noopener noreferrer">遇到问题请开issue</a></h3>
            <h3 style="margin: 8px 0; font-size: 14px;"><a href="https://github.com/Toperlock/sing-box-subscribe/issues" target="_blank" rel="noopener noreferrer">Please open an issue on github if you encounter problems.</a></h3>
            <pre id="config-text"></pre>
        </div>
    </div>
    <script>
        const initialTempJsonData = '{"subscribes":[{"url":"URL LINK","tag":"tag_1","enabled":true,"emoji":1,"prefix":"","User-Agent":"v2rayng"},{"url":"URL LINK","tag":"tag_2","enabled":false,"emoji":0,"prefix":"❤️","User-Agent":"clashmeta"}],"auto_set_outbounds_dns":{"proxy":"","direct":""},"save_config_path":"./config.json","auto_backup":false,"exclude_protocol":"ssr","config_template":"","Only-nodes":false}';
        let tempJsonData = initialTempJsonData;
        document.querySelector('#temp-json-form').addEventListener('submit', async (e) => {
            e.preventDefault();
            const form = e.target;
            const formData = new FormData(form);
            const response = await fetch(form.action, {
                method: form.method,
                body: formData,
            });
            if (response.ok) {
                const responseData = await response.text();
                const configContent = document.querySelector('#config-text');
                configContent.textContent = responseData
            }
        });
        const languageData = {
            "1": "Please be sure to: Click to view operation instructions.",
            "2": "Please be sure to: Click to view parameter meanings.",
            "3": "The 'groups_rule_set_tun.json' template is for sing-box 1.8.0+. Please use other templates for the old version of sing-box",
            "4": "Fill in the subscription link within the quotes '', and be careful not to have line breaks at the end of the subscription link, as this can be easily overlooked!!!",
            "5": "Reminder: After clicking save, please immediately generate the configuration file!!!",
            "6": "Otherwise, others will be able to see the content of your saved TEMP_JSON_DATA.",
            "7": "The 'subscription link' starts with 'http://' and includes node information for v2/clash links or is a single URI node link starting with 'vmess://', 'hysteria2://'... etc. Link, if there are multiple URIs, please add a newline character at the end of each one: '\\n' instead of newline (please understand the json writing specification), you can also fill in the base64 content.",
            "8": "subscription links provided by Service can be directly opened in the browser, and the script can use them. Please check if it works on your end.",
            "9": "For subscription links that require a special environment to open, please modify 'User-Agent' in TEMP_JSON_DATA, or copy the content of the airport subscription link to gist in advance for the script to parse successfully. Alternatively, run the script locally.",
            "10": "All SSR protocols will report errors, or please delete the three characters 'ssr' in the exclude_protocol quotation marks in the left box.",
            "11": "If there is a new hy2 protocol in the sub link, please modify 'User-Agent' to: clashmeta.",
            "12": "The above is not nonsense; if you fail to generate the configuration successfully, please read the above content carefully.",
            "13": "Because there is no database used, it will not return a configuration file link. After generating the configuration content, copy it to gist as a sing-box remote link.",
            "14": "After successfully generating the configuration, please do not use third-party input methods to copy the content, as there may be length limitations and the copy may not be complete.",
            "15": "Please open an issue on github if you encounter problems.",
            // 添加其他翻译...
        };
        let isEnglish = false; // 初始状态为中文

        function toggleLanguage() {
            isEnglish = !isEnglish;
            const elementsToTranslate = document.querySelectorAll('[data-translate]');

            elementsToTranslate.forEach(element => {
                const key = element.getAttribute('data-translate');
                const originalColor = element.getAttribute('data-color');
                const originalLink = element.getAttribute('data-link');

                if (isEnglish && languageData[key]) {
                    if (element.tagName === 'A') {
                        element.href = languageData[key];
                    } else {
                        // 处理 <span> 元素
                        const spanElement = element.querySelector('span');
                        if (spanElement) {
                            spanElement.textContent = languageData[key];
                            spanElement.style.color = originalColor;
                            spanElement.setAttribute('data-link', languageData[key]);
                        } else {
                            element.textContent = languageData[key];
                            element.style.color = originalColor;
                        }
                    }
                } else {
                    if (element.tagName === 'A') {
                        element.href = originalLink;
                    } else {
                    // 如果需要，可以添加其他语言的支持
                        window.location.reload();
                    }
                }
            });
        }
    </script>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
